[Unit]
Description=MOBFinder service

[Service]
User=root
ExecStart=/home/Dmitri/Documents/uav-mobfinder/process.sh

[Install]
WantedBy=multi-user.target